/* Desktop - normal show */
.hero-section {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.full-poster {
  width: 100%;
  height: auto;
  display: block;
}

/* Mobile - hide poster */
@media (max-width: 768px) {
  .full-poster {
    display: none; /* hide on tablets and mobiles */
  }
}
